# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# JSLint and JSHint
.jshint*
.jslint*

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/_protected/vendor

# composer itself is not needed
composer.phar

# gulp
gulpfile.js

# NPM
/node_modules

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# runtime directories
/_protected/frontend/runtime
/_protected/backend/runtime
/_protected/common/runtime

# Uploads directory
/uploads
